body{
	background-color: #4642b8;
	padding: 150px;
	font-family: arial;
}
#menu{
	background-color: #000;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul li{
	display: inline-block;
}
#menu ul li a{
	color: white;
	display: block;
	padding: 20px;
	text-decoration: none;
}
#menu ul li a:hover{
	background-color: #42b881;
}
}